body{
	background:#efefef url(../images/sos.png) repeat;
	font-size: 87.5%;
	font-family: arial, sans-serif;
	color: #666666;
	line-height: 1.7em;
	text-align: left;
}

a{
	text-decoration: none;
	color: #781a26;

}

a:hover{
	color:#666666;
}

h2{
	color: #781a26;
}

.clr{
	clear: both;
}

#container{
	width: 80%;
	margin: 0 auto;
	overflow: auto;
	clear: both;
}

.main-header #logo{
	width: 45%;
	margin:10px 0;
	display: block;
	transition: width 2s;
}

.main-header .main-nav{
	background:#882433;
	height: 40px;
	border-radius: 5px;
	border: 1px #c13046 solid;
	transition: height 2s;
}

.main-header .main-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.main-header .main-nav li{
	color: #fff;
	display: inline;
	margin-right: 3px;
	float: left;
}

.main-header .main-nav li a{
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	height: 20px;
}

.main-header .main-nav li a:hover, .main-nav li a.active{
	background:#efeadd;
	color: #666;
	border-radius: 5px;
}

#content{
	float: left;
	width:70%;
	overflow: auto;
	transition: width 1s;
}

#content article{
	border-radius: 5px;
	background:#fff;
	overflow: auto;
	padding: 10px 20px;
	margin-top: 10px;

}

#content article span{
	font-style: italic;
	color: #000;
}

#content a.readmore{
	display: block;
	border-radius: 5px;
	float: right;
	padding: 5px 9px;
	color: #fff;
	background:#c13046;
}

#content a.readmore: hover{
	backgroud:#000;
}

#sidebar{
	float: left;
	width:30%;

}

#sidebar .block{
	overflow: auto;
	background:#fff;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 10px 0 0 20px;
}


footer{
	background:#882433;
	height: 40px;
	border: 1px #c13046 solid;
	margin-top: 10px;
	border-radius: 5px;
	overflow:auto;
}

footer p{
	color: #fff;
	margin: 0px;
	padding: 10px 0 0 0;
	text-align: center;
}

/*-tablet and ipad(portrait and landscapes)*/
@media only screen and (min-width: 768px) and (max-width: 960px)
{
	#container{
		width: 95%;
	}

	.main-header #logo{
		margin: auto;
		display: block;
		width: 65%;
		transition: width 2s;
	}
	.main-header .main-nav{
		display: block;
		transition: height 2s;
	}
	#content{
		float: none;
		width: 100%;
	}

	#sidebar
	{
		width: 100%;
		float: none;
	}

	#sidebar .block{
		margin-left: 0px;
	}
}

/*- smaller tablet(portrait and landscapes)*/
@media only screen and (min-width: 569px) and (max-width: 767px)
{
	#container{
		width: 95%;
	}

	.main-header .main-nav{
	background:#882433;
	height: auto;
	overflow: hidden;
	display: block;
	width: 99%;
    }
    .main-header .main-nav ul{
    	padding: 2% 1%;
    	text-align: center;
    	width:98%;
    }
    .main-header .main-nav li{
    	float: none;
    	display: block;
    	margin-right: 0;
    	width: 100%;
    	border-bottom: 1px solid #a3293b;
    	transition: width 1s;
    }

    .main-header .main-nav li a:hover,.main-header .main-nav li a:hover{
    	display: block;

    }
    #content{
		float: none;
		width: 100%;
	}

	#sidebar
	{
		width: 100%;
		float: none;
	}

	#sidebar .block{
		margin-left: 0px;
	}
	.main-header #logo{
		margin: auto;
		display: block;
		width: 65%;
	}

}

/*-smartphone(portrait and landscapes)*/
@media only screen and (min-width: 240px) and (max-width: 568px)
{
	#container{
		width: 95%;
	}

	.main-header .main-nav{
	background:#882433;
	height: auto;
	overflow: hidden;
	display: block;
	width: 99%;
    }
    .main-header .main-nav ul{
    	padding: 2% 1%;
    	text-align: center;
    	width:98%;
    }
    .main-header .main-nav li{
    	float: none;
    	display: block;
    	margin-right: 0;
    	width: 100%;
    	border-bottom: 1px solid #a3293b;
    }

    .main-header .main-nav li a:hover,.main-header .main-nav li a:hover{
    	display: block;

    }
    #content{
		float: none;
		width: 100%;
	}

	#sidebar
	{
		width: 100%;
		float: none;
	}

	#sidebar .block{
		margin-left: 0px;
	}
	.main-header #logo{
		margin: auto;
		display: block;
		width: 95%;
	}
}